/* voy a usar mas flex y grid para que me quede como los wireframes */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__logo {
    display: flex;
    justify-content: flex-start;
    height: 12.5rem;
    width: 12.5rem;
}
.bg-light {
    box-shadow: 0 1px 20px hsl(0deg 4% 15% / 35%);
}

.navbar-expand-lg .navbar-collapse {
    margin-right: 2rem;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 1.25rem;
    
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    font-size: 1.25rem;
    
}
/* header{
    padding: 1rem 0.5rem; 
    display: flex; 
}



.header__navegacion{
	display: flex;
    width: 100%;
	margin: 1.875rem auto;
    letter-spacing: 2px;
    font-family: 'Montserrat', serif;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.25rem;
    
}

.nav__menu ul{
    display: flex;
    list-style: none;
} 

.nav__menu > li{
    position: relative;
	display: inline-block;
    
}

.nav__menu > li > a{
    display: flex;
	padding: 0.9375rem 1.25rem;
	color: #226d70;
	text-decoration: none;
    font-weight: bold;
}

.nav__menu li a:hover{
	color: black;
}
 */
/* Texto grande */
.hero__text1 h1{
    padding: 1rem 0.5rem; 
    margin-left: 10.0625rem;
    margin-right: 10.0625rem;
    margin-top: 2.75rem;
    margin-bottom: 3rem;
    font-size: 4.5rem;
    font-weight: 500;
    font-family: monserrat, serif;
}
/* imagenes carrousel */
.img-carrusel{
    height: 95vh;
    object-fit:cover;
}


/* titulo y texto de trabajo */
.hero__text2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.p1{
    font-family: 'Montserrat', serif;
    margin: 3rem;
    padding: 1rem;
    margin-left: 10.0625rem;
    margin-right: 10.0625rem;
    font-size: 2.5rem ;
    font-weight: bold;
}

.p2 {
    font-size: 1.875rem;  
    padding: 1rem;
    margin-left: 10.0625rem;
    margin-right: 10.0625rem;
    margin-bottom: 4rem;
}

/* 2 columnas de 4 imagenes con su titulo */

.contenedorImagenes{
    margin-left: 8.0625rem;
}


/* .contenedorProyectos {
    width: 90%;
    margin-left: 8.0625rem;
    padding: 5rem 0;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 6.25rem;
}
 */
.card{
    border: none;
    margin-left: 2rem;
}

.row{
    margin-right: 0;
    --bs-gutter-x: 0;
}

.card img{
    border-radius: 1.25rem;
    height: 39.0625rem;
    width: 44rem;
    font-weight: bold;  
    background-size: cover;
    background-position: center center;
}

.card .titulo{
    margin-top: 0.625rem;
    font-size: 1.875rem;
}

.card-body button{
    background-color: rgb(156, 154, 149);
    border-radius: 1.25rem;
}

.card-body a{
    text-decoration: none;
    color: #f8f9fa;
    font-weight: 500;
}

.card-body a:hover{
    color: rgb(0, 0, 0);
}
/* TRABAJEMOS JUNTOS */

.hero__trabajemosJuntos{
    background: black;
    margin-top: 2rem;
    height: 40rem;
    font-family:'Montserrat', serif;
}

.trabajemosJuntos__titulo{
    color:white;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 10.9375rem;
    margin-right: 10.0625rem;
    margin-top: 20rem;
    padding-top: 4.375rem;
    font-family:'Montserrat', serif;
}

.hero__trabajemosJuntos p{
    
    color:white;
    margin-left: 10.9375rem;
    margin-right: 10.0625rem;
    margin-top: 3.125rem;
    margin-bottom: 6.25rem;
    font-size: 1.5rem;
    font-family:'Montserrat', serif;
}

.hero__trabajemosJuntos3 {
    text-decoration: none;
    font-weight: bold;
    font-family:'Montserrat', serif;
    color:white;
    margin-left: 10.9375rem;
    margin-right: 10.0625rem;
    padding: 1.5625rem;
    font-size: 1.875rem;
    background-color: rgb(156, 154, 149);
    border-radius: 1.25rem;
    
}
.hero__trabajemosJuntos3:hover{
    color: rgb(0, 0, 0);
}

/* FOOTER */
footer{
    box-shadow: 0 1px 7px 1px #413f3f;
}
.contenedorFooter{
    display: flex;
    flex-flow: column wrap;
}

.arriba{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.descripcionFooter{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
}
.footer__logo{
    display: flex;
    justify-content: flex-start;
    height: 8.5rem;
    width: 8.5rem;
    padding: 1rem;
}

.descripcionFooter a{
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    height: 4.5rem;
    width: 12.5rem;
}

.descripcionFooter .footer__text{
    display: inline-block;
    margin: 2rem;
    margin-top: 4rem;
    font-size: 1rem;
}
.contenedorFooter .redes{
    display: flex;
    width: 50%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2rem;
}

.contenedorFooter .text__centrado{
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
}
.text__description{
    margin-bottom: 0.2rem;
}

/* Quienes Somos */

.contenedorText{
    display: flex;
    margin-top: 2.875rem;
}

.text{
    margin-bottom: 2.5rem;
}

.contenedorTitulo{
    width: 100%;
    flex: 50%;
    margin-left: 10.4375rem;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: monserrat,serif;
}

.contenedorTexto{
    width: 100%;
    font-size: 1.5625rem;
    font-family: monserrat,serif;
    margin-right: 6rem;
    letter-spacing: 0.125rem;
}

.contTexto{
    margin-bottom: 2.5rem;
}


/* Nuestro equipo */
.nuestra-gente h1{
    font-family:'Montserrat', serif;
    font-size: 3.5rem;
    margin: 2rem;
    text-align: center;
}
.nuestra-gente h3{
    font-family:'Montserrat', serif;
    font-size: 2.5rem;
    margin: 2rem;
    text-align: center;
}
.nuestra-gente h4{
    font-family:'Montserrat', serif;
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
}
.nuestroEquipo{
    margin-bottom: 3rem;
}
.gente1{
    margin-top: 5rem;
}

.col-equipo{
    flex: 1 0 0%;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.profile-card{
    position: relative;
    font-family: sans-serif;
    width: 220px;
    height: 220px;
    background: #fff;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
    margin: 0 25px;
}
.profile-card:hover{
    border-radius: 10px;
    height: 260px;
}
.profile-card .profile-img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 99;
}

.profile-img img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
}  
.profile-card:hover .profile-img{
    transform: translateY(-60px);
}

.profile-card:hover img{
    border-radius: 10px;
}
.caption{
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: .6s;
}
.profile-card:hover .caption{
    opacity: 1;
}
.caption h3{
    font-size: 21px;
    font-family: sans-serif;
}
.caption p{
    font-size: 15px;
    color: #0c52a1;
    font-family: sans-serif;
    margin: 2px 0 9px 0;
}
.caption .social-links a{
    color: #333;
    margin-right: 15px;
    font-size: 21px;
    transition: .6s;
}
.social-links a:hover{
    color: #0c52a1;
}
/* .img-carruselFade{
    height: 100vh;
    object-fit:cover;
}

.contenedorGeneral{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    align-items: center;
    grid-column-gap: 2.5rem;
    margin-top: 3.125rem;
}

.contenedorPersona1{
    grid-column: 2;
}

.contenedorPersona1 img{
    height: 28.1875rem;
    width: 34.625rem;
}

.Persona__titulo{
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
    font-size: 1.875rem;
}

.Persona__texto{
    font-size: 1.25rem;
} */
/* Prensa */
.img-fluid{
    height: 40rem;
    width: 114rem;
}

.img-fluid .trabajemosJuntos__titulo{
    color:white;
    font-size: 3.125rem;
    margin-left: 10.9375rem;
    margin-right: 10.0625rem;
    margin-top: 20rem;
    padding-top: 4.375rem;
}

.img-fluid  p{
    
    color:white;
    margin-left: 10.9375rem;
    margin-right: 10.0625rem;
    margin-top: 3.125rem;
    margin-bottom: 6.25rem;
    font-size: 1.875rem;
}

/* Contacto */

.contenedorGeneralC{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    grid-column-gap: 2.5rem;
    margin-top: 3.125rem;
}

.cont__derecha{
    margin-left: 10.4375rem;
}

form{
    grid-column: 3;
}
.form-control{
    font-size: 2rem;
}
 input:focus {
    width: 12.5rem;
    font-size: 1.6rem;
}
.btn-primary {
    background-color: rgb(156,154,149);
    border-color: #0dcaf0;
}
.hero__trabajemosJuntos1{
    font-size: 3.125rem;
    font-family: 'Montserrat', serif;
    font-weight: bold;
}

.hero__trabajemosJuntos2{
    font-size: 1.5625rem;
    font-weight: lighter;
}

.description{
    font-size: 1.5625rem;
}

/* MEDIA QUERIES */

/* Mobile S-M-L*/
@media (min-width:320px) and (max-width: 768px){
    /* Logo */
    .header__logo {
        height: 5.5rem;
        width: 5.5rem;
    }
    /* nav */
    .navbar-light .navbar-nav .nav-link {
        font-size: 1rem;
    }
    /* Titulo principal */
    .hero__text1 h1 {
        font-size: 2rem;
        text-align: center;
        margin-left: 3.0625rem;
        margin-right: 3.0625rem;
    }
    /* Trabajos Recientes */
    .p1{
        padding: 1rem;
        margin:1rem;
        margin-left: 1.0625rem;
        margin-right: 1.0625rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    .p2 {
        font-size: 0.9rem;  
        padding: 1rem;
        margin-left: 1.0625rem;
        margin-right: 1.0625rem;
        
    }
    /* Grids de proyectos y botones */
    .contenedorImagenes{
        justify-items: center;
        margin: auto;
        margin-right: 2.5rem;
    } 
    .card-body {
        padding: 1rem;
        margin-left: -1rem;
    }
   
    /* Trabajemos juntos */
    .hero__trabajemosJuntos {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        height: auto;
    }
    
    .trabajemosJuntos__titulo {
        padding: 0;
        margin: 3rem 2rem 2rem 3rem;
        font-size: 1.5rem;
    }

    .hero__trabajemosJuntos p {
        font-size: 0.9rem;
        padding: 0;
        margin: 3rem 2rem 2rem 3rem;
    }
    
    .hero__trabajemosJuntos3 {
        font-size: 1rem;
        margin-bottom: 3rem;
        margin: 3rem 2rem 2rem 3rem;
    }

    /* Footer */
    .footer__logo {
        height: 8.25rem;
        width: 8.25rem;
        margin: -1rem;
    }
    .descripcionFooter .footer__text {
        font-size: 0.8rem;
        margin: 1.2rem;
        margin-top: 3rem;
    }
    .contenedorFooter .redes {
        padding: 1rem;
        margin-top: -4rem;
        flex-direction: column;
        align-content: flex-end;
        justify-content: center;
    }
    .redes img {
        height: 3.25rem;
        width: 3.25rem;
    }
    .contenedorFooter .text__centrado {
        font-size: 0.8rem;
        font-weight: bold;
    }
    /* Quienes Somos y Prensa*/
    .contenedorText {
        display: flex;
        flex-wrap: wrap;
    }
    .contenedorTitulo {
        margin-left: 3.0625rem;
        font-size: 1.5rem;
    }
    .contenedorTexto {
        font-size: 0.9rem;
        margin-left: 3.0625rem;
        margin-right: 1rem;
        letter-spacing: 0;
    }
    /* Nuestro Equipo */
    .gente1{
        margin-top: 0ññ;
    }
    .col-equipo {
        margin-top: 5rem;
    }
    /* Contacto */
    .contenedorGeneralC{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        align-items: center;
        grid-column-gap: 2.5rem;
        margin-top: 3.125rem;
    }
    .cont__derecha{
        margin-left: -0.5625rem;
        text-align: center;
    }

    .hero__trabajemosJuntos1 {
        font-size: 1.5rem;
    }
    .hero__trabajemosJuntos2 {
        font-size: 0.9rem;
        padding: 2rem;
    }
    .description{
        font-size: 0.9rem;
        font-weight: bold;
        text-align: center;
    }
    .derecha__redes{
        height: 4.25rem;
        width: 4.25rem;
    }
    .cont__izquierda{
        margin-top: 8rem;
    }

    form{
        padding: 0 1rem 0 1rem;
    }
    .form-control{
        font-size: 1rem;
    }
}

/* TABLET */
@media (min-width:1024px) and (max-width: 1440px){
    /* Logo */
    .header__logo {
        height: 10.5rem;
        width: 10.5rem;
    }
    /* Titulo principal */
    .hero__text1 h1 {
        font-size: 3rem;
        text-align: center;
        margin-left: 3.0625rem;
        margin-right: 3.0625rem;
    }
    /* Trabajos Recientes */
    .p1{
        font-size: 2rem;
        margin-left: 2.0625rem;
    }

    .p2 {
        font-size: 1.25rem; 
        margin-left: 2.0625rem;         
    }
    /* Grids de proyectos y botones */
    .contenedorImagenes{
        justify-items: center;
        margin: auto;
        margin-right: 2.5rem;
    } 
    .card-body {
        padding: 1rem;
        margin-left: -1rem;
    }
    /* Trabajemos juntos */
    .hero__trabajemosJuntos {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        height: auto;
    }
    
    .trabajemosJuntos__titulo {
        padding: 0;
        margin: 3rem 2rem 2rem 3rem;
        font-size: 2rem;
    }

    .hero__trabajemosJuntos p {
        font-size: 1.25rem;
        padding: 0;
        margin: 3rem 2rem 2rem 3rem;
    }
    
    .hero__trabajemosJuntos3 {
        font-size: 1.25rem;
        margin-bottom: 3rem;
        margin: 3rem 2rem 2rem 3rem;
    }
    /* Contacto */
    .contenedorGeneralC {
        margin-top: 0; 
    }
    .cont__derecha {
        margin-left: 2.4375rem;
    }
    .hero__trabajemosJuntos1 {
        font-size: 2.125rem;
    }
    .hero__trabajemosJuntos2 {
        font-size: 1.225rem;
    }
    .description {
        font-size: 1.225rem;
    }
    .derecha__redes{
        height: 4.25rem;
        width: 4.25rem;
        margin-right: 1rem;
    }
    .cont__izquierda{
        margin-top: 8rem;
    }
    form{
        padding: 0 1rem 0 1rem;
        margin-bottom: 4rem;
    }
    .form-control{
        font-size: 1.5rem;
    }
}






