/* voy a usar mas flex y grid para que me quede como los wireframes */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__logo {
    display: flex;
    justify-content: flex-start;
    height: 12.5rem;
    width: 12.5rem;
}


/* header{
    padding: 1rem 0.5rem; 
    display: flex; 
}



.header__navegacion{
	display: flex;
    width: 100%;
	margin: 1.875rem auto;
    letter-spacing: 2px;
    font-family: 'Montserrat', serif;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.25rem;
    
}

.nav__menu ul{
    display: flex;
    list-style: none;
} 

.nav__menu > li{
    position: relative;
	display: inline-block;
    
}

.nav__menu > li > a{
    display: flex;
	padding: 0.9375rem 1.25rem;
	color: #226d70;
	text-decoration: none;
    font-weight: bold;
}

.nav__menu li a:hover{
	color: black;
}
 */
/* Texto grande */
.hero__text1 h1{
    display: flex;
    padding: 1rem 0.5rem; 
    margin-left: 10.0625rem;
    margin-right: 10.0625rem;
    margin-top: 2.75rem;
    margin-bottom: 3rem;
    font-size: 5rem;
    font-weight: 500;
}
/* imagenes carrousel */
.img-carrusel{
    height: 95vh;
    object-fit:cover;
}


/* titulo y texto de trabajo */
.hero__text2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.p1{
    font-family: 'Montserrat', serif;
    margin: 1rem;
    padding: 1rem;
    margin-left: 10.0625rem;
    margin-right: 10.0625rem;
    font-size: 2.5rem ;
    font-weight: bold;
}

.p2 {
    font-size: 1.875rem;  
    padding: 1rem;
    margin-left: 10.0625rem;
    margin-right: 10.0625rem;
}

/* 2 columnas de 4 imagenes con su titulo */

.contenedorImagenes{
    margin-left: 8.0625rem;
}


/* .contenedorProyectos {
    width: 90%;
    margin-left: 8.0625rem;
    padding: 5rem 0;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 6.25rem;
}
 */
.card{
    border: none;
}

.row{
    margin-right: 0;
}

.card img{
    border-radius: 1.25rem;
    height: 39.0625rem;
    width: 44rem;
    font-weight: bold;  
    background-size: cover;
    background-position: center center;
}

.card .titulo{
    margin-top: 0.625rem;
    font-size: 1.875rem;
}

/* TRABAJEMOS JUNTOS */

.hero__trabajemosJuntos{
    background: black;
    margin-top: 2rem;
    height: 40rem;
    width: 114rem;
    font-family:'Montserrat', serif;
}

.trabajemosJuntos__titulo{
    color:white;
    font-size: 3.125rem;
    margin-left: 10.9375rem;
    margin-right: 10.0625rem;
    margin-top: 20rem;
    padding-top: 4.375rem;
}

.hero__trabajemosJuntos p{
    
    color:white;
    margin-left: 10.9375rem;
    margin-right: 10.0625rem;
    margin-top: 3.125rem;
    margin-bottom: 6.25rem;
    font-size: 1.875rem;
}

.hero__trabajemosJuntos3{
    text-decoration: none;
    font-weight: bold;
    color:white;
    margin-left: 10.9375rem;
    margin-right: 10.0625rem;
    padding: 1.5625rem;
    font-size: 1.875rem;
    background-color: rgb(156, 154, 149);
    
}

/* FOOTER */

.contenedorFooter{
    display: flex;
    flex-flow: column wrap;
}

.arriba{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.descripcionFooter{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
}

.descripcionFooter a{
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    height: 12.5rem;
    width: 12.5rem;
}

.descripcionFooter .footer__text{
    display: inline-block;
    margin: 2rem;
    font-size: 1.25rem;
    letter-spacing: 0.125rem;
}

.contenedorFooter .redes{
    display: flex;
    width: 50%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
}

.contenedorFooter .text__centrado{
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
}

/* Quienes Somos */

.contenedorText{
    display: flex;
    margin-top: 1.875rem;
}

.text{
    margin-bottom: 2.5rem;
}

.contenedorTitulo{
    width: 100%;
    flex: 50%;
    margin-left: 10.4375rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.contenedorTexto{
    width: 100%;
    font-size: 1.5625rem;
    margin-right: 6rem;
    letter-spacing: 0.125rem;
}

.contTexto{
    margin-bottom: 2.5rem;
}


/* Nuestro equipo */
.img-carruselFade{
    height: 100vh;
    object-fit:cover;
}

.contenedorGeneral{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    align-items: center;
    grid-column-gap: 2.5rem;
    margin-top: 3.125rem;
}

.contenedorPersona1{
    grid-column: 2;
}

.contenedorPersona1 img{
    height: 28.1875rem;
    width: 34.625rem;
}

.Persona__titulo{
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
    font-size: 1.875rem;
}

.Persona__texto{
    font-size: 1.25rem;
}

/* Contacto */

.contenedorGeneralC{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    grid-column-gap: 2.5rem;
    margin-top: 3.125rem;
}

.cont__derecha{
    margin-left: 10.4375rem;
}

form{
    grid-column: 3;
}
 input:focus {
    width: 12.5rem;
    font-size: 1.6rem;
}

.hero__trabajemosJuntos1{
    font-size: 3.125rem;
    font-family: 'Montserrat', serif;
    font-weight: bold;
}

.hero__trabajemosJuntos2{
    font-size: 1.5625rem;
    font-weight: lighter;
}

.description{
    font-size: 1.5625rem;
}
@media (min-width: 576px) and (max-width: 768px){
    .hero__text1 h1 {
        font-size: 2.5rem;
    }
    .p1{
        padding: 1rem;
        margin-left: 2.0625rem;
        font-size: 3rem ;
        font-weight: bold;
    }
    
    .p2 {
        font-size: 1.25rem;  
        padding: 1rem;
        margin-left: 2.0625rem;
        margin-right: 2.0625rem;
    }
    /* proyectos */
    .contenedorImagenes{
        justify-items: center;
        margin: auto;
    } 
    
    
    .hero__trabajemosJuntos {
        height: 50rem;
        width: auto;
    }

    .trabajemosJuntos__titulo {
        font-size: 3.125rem;
        margin-left: 5rem;
    }

    .hero__trabajemosJuntos p {
        margin-left: 5rem;
        margin-bottom: 6.25rem;
        font-size: 1.5rem;
    }
    .hero__trabajemosJuntos3 {
        margin-left: 5rem;
    }

    .contenedorTitulo {
        margin-left: 3.4375rem;
    }

}






