footer{
    box-shadow: 0 1px 7px 1px rgb(65, 63, 63);
}
.contenedorFooter{
    display: flex;
    flex-flow: column wrap;
    margin-top: 1rem;
    .arriba{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .descripcionFooter{
            display: flex;
            flex-flow: column wrap;
            width: 50%;
            & .footer__logo{
                display: flex;
                justify-content: flex-start;
                height: 8.5rem;
                width: 8.5rem;
                padding: 1rem;
            }
            & a{
                display: flex;
                justify-content: flex-start;
                margin-top: 2rem;
                height: 4.5rem;
                width: 12.5rem;
            }
            & .footer__text{
                display: inline-block;
                margin: 2rem;
                margin-top: 4rem;
                font-size: 1rem;
                & .text__description{
                    margin-bottom: 0.2rem;
                }
            }
        }
    }
    & .redes{
        display: flex;
        width: 50%;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-end;
        margin-top: 2rem;
    }
    
    & .text__centrado{
        display: flex;
        justify-content: center;
        font-size: 1.25rem;
    }
}
@media (min-width: 320px) and (max-width: 425px){
    .contenedorFooter{
        box-shadow: 0 1px 7px 1px rgb(65, 63, 63);
        & .footer__logo {
            height: 8.25rem;
            width: 8.25rem;
            margin: -1rem;
        }
        & .descripcionFooter .footer__text {
            font-size: 0.8rem;
            margin: 1rem;
            margin-top: 3rem;
        }
        & .redes {
            padding: 1rem;
            margin-top: -4rem;
            flex-direction: column;
            align-content: flex-end;
            justify-content: center;
        }
        & .redes img {
            height: 3.25rem;
            width: 3.25rem;
        }
        & .text__centrado {
            font-size: 0.8rem;
            font-weight: bold;
        }
    }  
}




