footer{
    box-shadow: 0 1px 7px 1px rgb(65, 63, 63);
}
.contenedorFooter{
    display: flex;
    flex-flow: column wrap;
    margin-top: 1rem;
    .arriba{
        display: flex;
        flex-flow: row wrap;
        flex-wrap: nowrap;
        .descripcionFooter{
            display: flex;
            flex-flow: column wrap;
            width: 50%;
            & p{
                padding: 1rem;
                margin-left: 1.2rem;
            }
            & .footer__logo{
                height: 8.5rem;
                padding: 1rem;
            }
            & a{
                width: 8.5rem;
            }
        }
    }
    & .footer__text{
        display: inline-block;
        margin: 2rem;
        margin-top: 4rem;
        font-size: 1rem;
        & .text__description {
            margin-bottom: 0.2rem;
        }        
    }
    & .redes{
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: flex-end;
    }
    
    & .text__centrado{
        display: flex;
        justify-content: center;
        font-size: 1.25rem;
        font-weight: bold;
    }
}
@media (min-width: 320px) and (max-width: 425px){
    .contenedorFooter{
        box-shadow: 0 1px 7px 1px rgb(65, 63, 63);

        & .arriba {
            display: flex;
            & .footer__text {
               font-size: 0.8rem;
               margin: 1.2rem;
               margin-top: 3rem;
           }
           .descripcionFooter{
               & .footer__logo {
                height: 6.25rem;
                margin-top: 1rem;
            }
            & .hechoPor{
                font-size: 0.9em;
                margin-left: 0.8rem;
            }
           }
           & .redes {
               padding: 1rem;
               margin-top: -4rem;
               flex-direction: column;
               align-content: flex-end;
               justify-content: center;
           }
           & .redes img {
               height: 2.25rem;
           }
        }
        & .text__centrado {
            font-size: 0.8rem;
            font-weight: bold;
        }
    }  
}




