footer{
    box-shadow: 0 1px 7px 1px rgb(65, 63, 63);
}
.pie-pagina{
    width: 100%;
}
.pie-pagina .grupo-1{
    width: 100%;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    height: 6.5rem;
}
.pie-pagina .grupo-1 .box h2{
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    font-size: 0.9rem;
    margin-bottom: 0;  
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media (min-width: 320px) and (max-width: 425px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(2,1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
    .pie-pagina .grupo-1 .box figure{
        justify-content: flex-start;
        height: 5rem;
        width: 5rem;
    }
    .pie-pagina .grupo-1 .box figure img{
        height: 5.5rem;
    }
    .pie-pagina .grupo-1 .box .red-social{
        justify-content: flex-start;
    }
    .pie-pagina .grupo-1 .box p {
        margin-left: -3rem;
    }
    .pie-pagina .grupo-1 .box .nosotrosFooter {
        margin-left: -3rem;
    }
}




