.row{
    --bs-gutter-x: 0;
}
.img-carrusel{
    height: 95vh;
    object-fit:cover;
}

.section__text{
    margin-top: 2rem;
}

.tituloC{
    font-family: 'Montserrat', serif;
    margin: 1rem;
    padding: 1rem;
    margin-left: 10.0625rem;
    margin-right: 10.0625rem;
    font-size: 3.5rem ;
    font-weight: bold;
}

.textC {
    font-size: 1.875rem;  
    padding: 1rem;
    margin-top: 2rem;
    margin-left: 10.0625rem;
    margin-right: 10.0625rem;
}
@media (min-width: 320px) and (max-width: 425px){
    .cambio{
        flex-direction: column-reverse;
    }
    .section__text{
        /* Proyectos */
        & .tituloC {
            margin-left: 1.0625rem;
            font-size: 2.5rem;
            margin-right: 0;
        }
        
        .textC{
            margin-left: 1.0625rem;
            font-size: 0.9rem;
            margin-right: 0;
        }
    }

}