section{
    display: flex;
    justify-content: center;
}
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #0dcaf070;
    bottom: 40px;
    right: 10px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #f8f9fa;
    font-size: 22px;
}
.row1{
    margin-top: 4rem;
}
.carousel-item img{
    border-radius: 1rem;
    height: 40vh;
}
#card-allText{
    display: flex;
    align-items: center;
}
.card-title{
    font-size: 1.5rem;
    font-weight: bold;
}
.section__text{
    font-size: 0.9rem;
    margin-top: 1rem;
}
.LH{
    margin-bottom:1rem;
}


@media (min-width: 320px) and (max-width: 425px){
    .gotopbtn {
        right: 16px;
    }
    .col-6 {
        width: 100%; 
    }
    .cambio{
        flex-direction: column-reverse;
    }
    .card-title{
        font-size: 1.5rem;
    }
    .section__text{
        & .textC {
            font-size: 0.9rem;
        }
        & .textCarilo{
            padding: 0;
            margin-top: 0;
            margin-left: 0;
            margin-right: 0;
            font-size: 0.9rem;
        }
        & .textLH{
            padding: 0;
            margin-top: 0;
            margin-left: 0;
            margin-right: 2rem;
            font-size: 0.9rem;
        }
    }
}
 @media (min-width: 768px) and (max-width: 1440px){
    .row {
        display: flex;
        flex-wrap: nowrap;
    }
    #card-allText {
        display: flex;
        align-items: center;
    }
    .cambio{
        display: flex;
        flex-wrap: nowrap;  
    }
    .carousel-item img {
        height: 80vh;
    }
    .card-title{
        font-size: 1.5rem;
    }
    .section__text{
         /*Proyectos */
        flex-wrap: wrap;
        align-items: center;
        & .textC {
            font-size: 1rem;
            padding: 0;
            margin-top: 0;
            margin-left: 0;
            margin-right: 1rem;
        }
        & .textCarilo{
            font-size: 1rem;
        }
        & .textLH{
            font-size: 1rem;
        }
    }
}

